{% include '../layout.html' %}
{# Меняем заголовок #}
{% block title %}
    <title> {{ titles }} </title>
{% endblock %}
{# Выводим контент #}
{% block content %}
    <body>
        {% include 'module/left-nav.html' %}
        <div class="content"> 
            <h1>Hash</h1>
            <p> {{ hash }} </p>
        </div>
    </body>
{% endblock %}