
<!doctype html>
<html>

    <head> 
        {% block title %} {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/distr.bundle.css">
        <script async src="/static/js/distr.bundle.js"></script>
    </head>

    {% block content %} {% endblock %}
</html>